@tailwind base;
@tailwind components;
@tailwind utilities;

.headerFamily{
     font-family: 'montserrat';
     font-weight: 'bold';
     font-size: 3rem;
}
 .customParagraph {
     font-family: 'Source Sans pro';
 }